body {
    font-size: 20px;
    background-color: #2f2f2f;
    color:aliceblue;
    margin: 0;
    margin: 40px auto;
    max-width: 1000px;
    padding: 0 10px;
}

/* Set a specific width for the image */
img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

h1, h2, p {
    text-align: left;
}

img, video, iframe, audio {
    display: block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}

/* Float the image to the left */
img {
    float: right;
    margin-right: 20px; /* Adjust the margin as needed */
}
